<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mym3app.hci.univie.ac.at.dialyapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/map_api_key" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Highlights"
            android:label="@string/title_activity_highlights"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.MainActivity" />
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.MainActivity" />
        </activity>
        <activity
            android:name=".NewEntry_1"
            android:label="@string/title_activity_new_entry_1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.MainActivity" />
        </activity>
        <activity
            android:name=".NewEntry_2"
            android:label="@string/title_activity_new_entry_2"
            android:parentActivityName=".NewEntry_1"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.NewEntry_1" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.MainActivity" />
        </activity>
        <activity
            android:name=".EntryView"
            android:label="@string/title_activity_entry_view"
            android:parentActivityName=".Highlights"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mym3app.hci.univie.ac.at.dialyapp.Highlights" />
        </activity>
        <activity android:name=".ImageSelect"></activity>
    </application>

</manifest>